@model List<Company>

@{
    ViewData["Title"] = "Companies";
}

<div class="form-row">
    <div class="col-6">
        <i style="padding: 2px 4px 4px 4px" class="fas fa-users text-info"> Employee  </i>
        <i style="padding: 2px 4px 4px 4px" class="fas fa-building text-info"> Department  </i>
        <i style="padding: 2px 4px 4px 4px" class="fas fa-info-circle text-info"> Contract Information  </i>
    </div>
    <div class="col-6 text-right ">
        <a asp-action="Create" class="btn btn-outline-dark rounded">Create Company</a>
    </div>
</div>
<br />
<div class="row d-flex justify-content-between bg-transparent text-dark">

    @{
        if (Model == null)
        {
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Create Company</h5>
            </div>
        }
        foreach (var com in Model)
        {
            <div class="col-sm-4 w-100 shadow p-2 mb-2 border">
                <div class=" w-100 rounded align-items-start border"
                     style="background-color: whitesmoke;">
                    <div class="d-flex flex-column" style="background-color: #354649; border-color: #6C7A89; color:whitesmoke">
                        <div class="p-1 w-100 d-flex justify-content-center">
                            <h6 class="mb-1 text-Secondary">@com.CompanyName</h6>
                        </div>
                        <div class="p-1 w-100 d-flex justify-content-center">
                            <h6 class="mb-1 text-Secondary">@com.Bulstat</h6>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-around">

                        <a onclick="GetCompany('')"
                           class="btn btn-outline-dark rounded-pill border border-dark shadow-sm p-3 mb-5"><i class="fas fa-users"></i></a>
                        <a onclick="GetCompany('')"
                           class="btn btn-outline-dark rounded border border-dark  shadow-sm p-3 mb-5"><i class="fas fa-building"></i></a>



                        <a onclick="CompanyDetails('@com.id')"
                           class="btn btn-outline-info rounded border border-info  shadow-sm p-3 mb-5"><i class="fas fa-info-circle"></i></a>


                        <a onclick="EditCompany('@com.id')"
                           class="btn btn-outline-warning rounded border border-warning  shadow-sm p-3 mb-5"><i class="far fa-edit"></i></a>

                        <a onclick="GetCompany('@com.id','@com.CompanyName')" data-toggle="modal" data-target="#deleteModal" asp-action="/"
                           class="btn btn-outline-danger rounded border border-danger  shadow-sm p-3 mb-5"><i class="far fa-trash-alt"></i></a>

                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure - <br /> Delete item: <span id="CompanyName"></span>-<span id="CompanyId"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="DeleteCompany()" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>



<script>
    function GetCompany(id, CompanyName) {
        var $Company = $("#CompanyName");
        var $id = $("#CompanyId");
        $Company.html(CompanyName);
        $id.html(id);
    }

    function DeleteCompany() {
        var $id = $("#CompanyId").html();
        window.location = "/Company/Delete/"+$id;
    }



    function CompanyDetails(id) {
        window.location = "/Company/CompanyDetails/" + id;
    }

    function EditCompany(id) {
        window.location = "/Company/Edit/" + id
    }

</script>
