@model List<CompanyDetails>
@{
    ViewData["Title"] = "Contract Details";
}

<div class="row d-flex justify-content-between p-1 bg-transparent text-dark">

    @{
        if (Model == null)
        {
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Create Company</h5>
            </div>
        }
        foreach (var com in Model)
        {
            <div class="col-sm-4 w-100 p-1 mb-2">
                <div class=" p-1 w-100 rounded align-items-start border"
                     style="background-color: whitesmoke;">
                    <div class="d-flex flex-column" style="background-color: #354649; border-color: #6C7A89; color:whitesmoke">
                        <div class="p-1 w-100 d-flex justify-content-center">
                            <h6 class="mb-1 text-Secondary">@com.ContractNumber</h6>
                        </div>
                        <div class="p-1 w-100 d-flex justify-content-center">
                            <h6 class="mb-1 text-Secondary">@com.EndDate</h6>
                        </div>
                        <div class="p-1 w-100 d-flex justify-content-center">
                            <h6 class="mb-1 text-Secondary">@com.Address</h6>
                        </div>
                        <div class="p-1 w-100 d-flex justify-content-center">
                            <h6 class="mb-1 text-Secondary">@com.City</h6>
                        </div>
                        <div class="p-1 w-100 d-flex justify-content-center">
                            <h6 class="mb-1 text-Secondary">@com.PostCode</h6>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-around">
                        <a onclick="EditCompany('')"
                           class="btn btn-outline-warning rounded border border-warning  shadow-sm p-3 mb-5"><i class="far fa-edit"></i></a>

                        <a onclick="GetCompany('','')" data-toggle="modal" data-target="#deleteModal" asp-action="/"
                           class="btn btn-outline-danger rounded border border-danger  shadow-sm p-3 mb-5"><i class="far fa-trash-alt"></i></a>

                    </div>
                </div>
            </div>
        }
    }
</div>

